In [29]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt

In [30]:
df = pd.read_csv('https://gist.githubusercontent.com/omarish/5687264/raw/7e5c814ce6ef33e25d5259c1fe79463c190800d9/mpg.csv')

In [31]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [32]:
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model_year        int64
origin            int64
name             object
dtype: object

In [33]:
df= df.replace('?', np.nan)
df= df.dropna()

In [40]:
print(df.mpg.shape)
print(df.horsepower.shape)
print(df.weight.shape)
print(df.cylinders.shape)

(392,)
(392,)
(392,)
(392,)

In [35]:
df.shape

(392, 9)

In [36]:
df= df.drop(['name', 'origin', 'model_year'], axis= 1)
x= df.drop('mpg', axis= 1)
y= df[['mpg']]

In [58]:
x

     cylinders  displacement horsepower  weight  acceleration
0            8         307.0        130    3504          12.0
1            8         350.0        165    3693          11.5
2            8         318.0        150    3436          11.0
3            8         304.0        150    3433          12.0
4            8         302.0        140    3449          10.5
5            8         429.0        198    4341          10.0
6            8         454.0        220    4354           9.0
7            8         440.0        215    4312           8.5
8            8         455.0        225    4425          10.0
9            8         390.0        190    3850           8.5
10           8         383.0        170    3563          10.0
11           8         340.0        160    3609           8.0
12           8         400.0        150    3761           9.5
13           8         455.0        225    3086          10.0
14           4         113.0         95    2372          15.0
15           6         198.0         95    2833          15.5
16           6         199.0         97    2774          15.5
17           6         200.0         85    2587          16.0
18           4          97.0         88    2130          14.5
19           4          97.0         46    1835          20.5
20           4         110.0         87    2672          17.5
21           4         107.0         90    2430          14.5
22           4         104.0         95    2375          17.5
23           4         121.0        113    2234          12.5
24           6         199.0         90    2648          15.0
25           8         360.0        215    4615          14.0
26           8         307.0        200    4376          15.0
27           8         318.0        210    4382          13.5
28           8         304.0        193    4732          18.5
29           4          97.0         88    2130          14.5
..         ...           ...        ...     ...           ...
367          4         112.0         88    2605          19.6
368          4         112.0         88    2640          18.6
369          4         112.0         88    2395          18.0
370          4         112.0         85    2575          16.2
371          4         135.0         84    2525          16.0
372          4         151.0         90    2735          18.0
373          4         140.0         92    2865          16.4
375          4         105.0         74    1980          15.3
376          4          91.0         68    2025          18.2
377          4          91.0         68    1970          17.6
378          4         105.0         63    2125          14.7
379          4          98.0         70    2125          17.3
380          4         120.0         88    2160          14.5
381          4         107.0         75    2205          14.5
382          4         108.0         70    2245          16.9
383          4          91.0         67    1965          15.0
384          4          91.0         67    1965          15.7
385          4          91.0         67    1995          16.2
386          6         181.0        110    2945          16.4
387          6         262.0         85    3015          17.0
388          4         156.0         92    2585          14.5
389          6         232.0        112    2835          14.7
390          4         144.0         96    2665          13.9
391          4         135.0         84    2370          13.0
392          4         151.0         90    2950          17.3
393          4         140.0         86    2790          15.6
394          4          97.0         52    2130          24.6
395          4         135.0         84    2295          11.6
396          4         120.0         79    2625          18.6
397          4         119.0         82    2720          19.4

[392 rows x 5 columns]

In [61]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.2, random_state= 1)

In [62]:
print(x_train.shape)
print(y_train.shape)

(313, 5)
(313, 1)

In [67]:
reg= LinearRegression()
reg.fit(x_train[['cylinders', 'horsepower', 'weight']], y_train)
y_predicted = reg.predict(x_test[['cylinders', 'horsepower', 'weight']])
print('mse: %.2f',  mean_squared_error(y_test, y_predicted))
print('r2: %.2f',  r2_score(y_test, y_predicted))

mse: %.2f 19.124641716570096
r2: %.2f 0.7241198209332085